.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fce4ec; /* Rosa claro */
}
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #f48fb1; /* Rosa */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e91e63; /* Rosa más oscuro */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    background-color: #fce4ec; /* Rosa claro */
  }
  
  li:hover button {
    display: block;
  }
  
  button {
    display: none;
  }
  
  /* Estilos para las tareas */
  li span {
    flex: 1;
  }
  
  /* Colores para las tareas */
  li:nth-child(odd) {
    background-color: #f8bbd0; /* Rosa claro */
  }
  
  li:nth-child(even) {
    background-color: #f06292; /* Rosa medio */
  }